
.page-body-wrapper {
    padding-top: 70px;
    min-height: calc(100vh - 70px);

}

@media (min-width: 991px) {
    .sidebar {
        position: fixed;
    }
}


.sidebar {
    min-height: calc(100vh - 70px);
    background: #ffffff;
    padding: 0;
    width: 260px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    border-right: 1px solid #eee;
}

.sidebar .nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
}

.sidebar .nav .nav-item {
    padding: 0 2rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.sidebar .nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: #3e4b5b;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link i {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: #5492ac;
}

.sidebar .nav .nav-item.active {
    background-color: #f3f3f3;
    border-right: 5px solid #5492ac;
}

.sidebar .nav .nav-item:hover {
    background: #f9f9f9;
}



@media screen and (max-width: 991px) {
    .sidebar-offcanvas.active {
        right: 0;
    }

    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 70px);
        top: 70px;
        bottom: 0;
        overflow: auto;
        right: -260px;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        border-left: 1px solid #eee;
    }

    .navbar .navbar-menu-wrapper {
        padding-right: 0;
    }
}

@media (min-width: 991px) {

    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
        display: none;
    }

    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
        display: inline-block;
    }

    .sidebar-icon-only .navbar .navbar-brand-wrapper {
        width: 70px;
    }

    .sidebar-icon-only .sidebar {
        width: 70px;
    }

    .sidebar-icon-only .sidebar {
        width: 70px;
    }

    .sidebar-icon-only .navbar .navbar-menu-wrapper {
        width: calc(100% - 70px);
    }

    .sidebar-icon-only .sidebar .nav {
        overflow: visible;
    }

    .sidebar-icon-only .sidebar .nav .nav-item {
        position: relative;
        padding: 0;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
        display: block;
        text-align: center;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
        border-radius: 0 5px 5px 0px;
        display: none;
    }

    .sidebar-icon-only .sidebar .nav .nav-item:hover .nav-link .menu-title {
        position: absolute;
        display: block;
        top: 0;
        left: 70px;
        padding: 0.5rem 1.4rem;
        background-color: #fff;
        width: 190px;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: none;
        border: 1px solid #eee;
    }

    .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
        border-radius: 0 5px 5px 0px;
    }

    .sidebar-icon-only .main-panel {
        width: calc(100% - 70px);
    }

    .sidebar-icon-only .main-panel {
        margin-left: 70px;
    }
}