@charset "UTF-8";

.page-body-wrapper {
    padding-top: 70px;
    min-height: calc(100vh - 70px);

}


.main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
}

@media (min-width: 991px) {
    .main-panel {
        margin-left: 260px;
    }
}


.main-panel .content-wrapper {
    padding: 0 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main-panel .content-wrapper .page-header.topArea {
    padding: 4rem 45px 2rem;
    margin-left: -2.75rem;
    margin-right: -2.75rem;
    background-color: #fff;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}


.dataTable {
    margin-bottom: 30px;
}

.table-responsive {
    white-space: nowrap;
}


@media (max-width: 991px) {

    .main-panel {
        width: 100%;
    }

    .main-panel .content-wrapper {
        padding: 0px;
        overflow: hidden;
    }

    .dataTables_filter {
        margin-bottom: 2rem;
    }

    .dataTables_wrapper {
        padding-bottom: 10%;
    }

    .card .card-body {
        padding: 1rem 10px;
    }

    .form-control {
        min-width: 200px;
    }

    .page-header .page-title {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .main-panel .content-wrapper .page-header.topArea{
        flex-direction: column;
        padding-bottom: 0;
    }
  

    .btn-groups .btn{
        width: 100%;
        padding: 10px !important;
    
    }
}