.btn {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    border-radius: $border-radius-xxl;
}

.btn-lg {
    column-gap: 16px;
    border-radius: $border-radius-xxl;
    .icon {
        width: 36px;
        height: 36px;
    }
}

.btn-sm {
    column-gap: 4px;
    border-radius: $border-radius-xxl;
}


.btn-check + .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-primary-600);
    --bs-btn-hover-border-color: var(--bs-primary-600);
    --bs-btn-focus-shadow-rgb: var(--primary-600-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($primary-600, 20%)};
    --bs-btn-active-border-color: #{shade-color($primary-600, 20%)};
    --bs-btn-disabled-bg: var(--bs-gray-600);
    --bs-btn-disabled-border-color: var(--bs-gray-600);
}

.btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-secondary-600);
    --bs-btn-hover-border-color: var(--bs-secondary-600);
    --bs-btn-focus-shadow-rgb: var(--secondary-600-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($secondary-600, 20%)};
    --bs-btn-active-border-color: #{shade-color($secondary-600, 20%)};
}

.btn-highligh {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-highligh-600);
    --bs-btn-hover-border-color: var(--bs-highligh-600);
    --bs-btn-focus-shadow-rgb: var(--highligh-600-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($highligh-600, 20%)};
    --bs-btn-active-border-color: #{shade-color($highligh-600, 20%)};
}

.btn-white {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-normal-gray);
    --bs-btn-hover-border-color: var(--bs-normal-gray);
    --bs-btn-active-color:var(--bs-white);
    --bs-btn-active-bg:var(--bs-primary);
    
}

.btn-dark {
    --bs-btn-hover-bg: var(--bs-gray-900);
    --bs-btn-hover-border-color: var(--bs-gray-900);
}

.btn-light {
    --bs-btn-color: var(--bs-gray-600);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-hover-color: var(--bs-gray-600);
    --bs-btn-hover-bg: var(--bs-normal-gray);
    --bs-btn-hover-border-color: var(--bs-gray-600);
    --bs-btn-active-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-white);
    --bs-btn-active-border-color: var(--bs-gray-600);
}


.btn-dark-gray{
    --bs-btn-color:var(--bs-gray-600);
    --bs-btn-hover-color: var(--bs-gray-600);
}