.nav-underline {
    --bs-nav-underline-link-active-color: var(--bs-primary);

    .nav-link {
        color: $gray-600;
        padding: 16px 40px;
        // border-radius: 32px 32px 0 0;
        border-bottom: 5px solid ;
        border-color: $normal-gray;
    }

    .nav-link.active,
    .show>.nav-link {
        color: $primary;
        border-color:var(--bs-primary);
    }

    .nav-link:focus,
    .nav-link:hover {
        color: $primary;
        border-color:var(--bs-primary);
        // background-color: $normal-gray;
    }
}