.tag {
    background-color: white;
    color: black;
    column-gap: 4px;
    border-radius: $border-radius-pill;
    font-weight: 400;
    border: 1px solid $normal-gray;

    &:hover {
        background-color: $secondary;
        border-color: $secondary;
    }

    &-add {
        border: 2px dashed #848484;
        background-color: $normal-gray;
        color: $gray-600;

        &:hover {
            border: 2px dashed #848484;
            background-color: $dark-gray;
        }
    }
}