.page01 {
    background: url("/images/home/bg-light.jpg");
    background-position: bottom;
    background-size: 100%;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        background: linear-gradient(to top, $light-gray 20%, transparent 100%);
    }

    .page-title {
        position: relative;
        z-index: 0;
        margin-bottom: 56px;
        display: inline-block;
        padding: 33px 150px 46px;
        transform: translateX(10%);

        @include media-breakpoint-down(lg) {
            padding: 16px 35px 16px 35px;
            margin-bottom: 10px;
            transform: translateX(20%);
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: url('/images/home/deco-msg.svg');
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            @include media-breakpoint-down(lg) {
                background-image: url('/images/home/deco-msg-s.svg');
            }
        }

        &::after {
            content: '';
            background-image: url('/images/home/deco-lighthouse.svg');
            background-repeat: no-repeat;
            background-position: center right;
            background-size: contain;
            position: absolute;
            right: 100%;
            bottom: -58px;
            width: 30%;
            padding-top: 44%;

            @include media-breakpoint-down(lg) {
                bottom: -13px;
                padding-top: 68%;
            }

        }
    }
}

.tag-card {
    &:hover {
        .inner-img {
            &::after {
                transition: transform 0.3s;
                opacity: 1;
            }
            img {
                transition: transform 0.3s;
                transform: scale(1.1);
            }
        }
    }

    .inner-img {
        width: 100%;
        /* 容器寬度 100% */
        aspect-ratio: 290 / 384;
        /* 設置圖片的寬高比例 */
        overflow: hidden;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: transform 0.3s;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
        }

        @include media-breakpoint-down(lg) {
            aspect-ratio: 303 / 216;
        }

        /* 確保圖片裁剪不會溢出容器 */
        img {
            transition: transform 0.3s;
            width: 100%;
            /* 讓圖片寬度自適應容器 */
            height: 100%;
            /* 讓圖片高度自適應容器 */
            object-fit: cover;
            /* 圖片自適應並保持比例，覆蓋容器 */
            display: block;
        }
    }

    .tag-title {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        color: $primary;
        border-radius: 0 24px 0 0;
        font-size: 20px;
        padding: 12px 48px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url('/images/home/rounded.svg');
            background-repeat: no-repeat;
        }

        &::after {
            left: 100%;
            bottom: 0;
        }

        &::before {
            bottom: 100%;
            left: 0;
        }
    }
}



.attraction-card {
    border: 3px solid $primary !important;
    border-radius: 32px;
    transition: box-shadow 0.5s;

    .card-body {
        padding: 32px;
    }

    img {
        width: 100%;
        aspect-ratio: 352 / 264;
        border-radius: 32px 32px 0 0;
        object-fit: cover;
        margin-bottom: 24px;

    }

    &:hover {
        transition: box-shadow 0.5s;
        box-shadow: 8px 8px 0px $primary;
    }
}

.deco-vehicle {
    position: relative;
    padding-top: 17px;

    // 計程車的動畫
    img:nth-child(1) {
        position: absolute;
        bottom: 0;
        animation: moveTaxi 9s linear infinite reverse;

        @include media-breakpoint-down(lg) {
            width: 76px;
        }
    }

    // 公車的動畫
    img:nth-child(2) {
        position: absolute;
        bottom: 0;
        animation: moveBus 12s 0.5s linear infinite reverse;

        @include media-breakpoint-down(lg) {
            width: 98px;
        }
    }
}

// 計程車的移動動畫
@keyframes moveTaxi {
    0% {
        left: 100vw; // 計程車移動到畫面右側外
    }

    100% {
        left: -150px; // 計程車從畫面左側外開始
    }
}

// 公車的移動動畫
@keyframes moveBus {
    0% {
        left: -200px; // 公車移動到畫面左側外
    }

    100% {
        left: 100vw; // 公車從畫面右側外開始
    }
}