.auth-container {
    background: linear-gradient(to right, $primary 75%, $white 75%);

    @include media-breakpoint-down(lg) {
        background: $primary;
        padding: 16px 0;
        // background: linear-gradient(to bottom,$primary 75%  ,$white 75%);
    }
}