.open_up_area {

    .ma-a {
        margin: 0 auto;
    }

    .pad-t50 {
        padding-top: 50px;
    }

    .tet-c {
        text-align: center
    }

    .ju-c {
        justify-content: center;
    }

    .ju-b {
        justify-content: space-between;
    }

    // 1-1 ------------------------------------
    .carouselOuter {
        background-color: #F5E83A;
        padding-top: 72px; // padding-top:104.46px;

        p {
            font-size: 16px;
            margin: 0 auto;
            padding-bottom: 72px;
        }

        @include mobile {
            padding-top: 32px;

            p {
                max-width: 230px;
                font-size: 14px;
                padding-bottom: 32px;
            }
        }


    }

    .carousel-box1 {
        display: block;
        margin: 0 auto;
        max-width: 549.52px;
        width: 100%;

        // padding-bottom: 48px;
        @include mobile {
            max-width: 270px;
            padding-bottom: 24px;
        }
    }

    .carouselBottom {
        padding-bottom: 72px;

        @include mobile {
            padding-bottom: 32px;
        }
    }

    // 2-1 ------------------------------------

    .carousel {
        padding-bottom: 72px;

        @include mobile {
            padding-bottom: 24px;
        }
    }

    .btn-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* 圓形按鈕 */

        background-color: #CED4DA;

        top: 50%;
        /* 垂中 */
        bottom: 50%;

        span {
            font-size: 50px;
            color: #FFFFFF;
        }
    }

    .btn-circle:hover {
        background-color: #005CA1;

        span {
            color: #F8F9FA;
        }
    }

    .carousel-indicators [data-bs-target] {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        /* 圓形按鈕 */

        opacity: 1;

        margin-right: 8px;
        margin-left: 8px;
    }

    .carousel-indicators .active {
        background-color: #005CA1;
    }

    .carouselPc {
        display: block;
        max-width: 1472px;
        margin: 0 auto;

        @include mobile-larger {
            display: none;
        }
    }

    .carouselMb {
        display: none;

        @include mobile-larger {
            display: block;
        }
    }

    .carouselMbBtn {
        display: block;

        @include mobile-larger {
            display: none;
        }
    }


    // ------------------------------------
    .rounded-box {
        max-width: 416px;
        width: 100%;
        height: 182px;
        background-color: #f8f9fa;
        /* 淡灰背景色 */
        border-radius: 32px;
        /* 圓角邊框 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* 陰影效果 */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // margin-bottom: 70px;

        h4 {
            padding-top: 52px;
        }

        a {
            text-decoration: underline;
        }

        .time {
            padding-bottom: 24px;
            color: #848484;
        }
    }

    .rounded-img {
        width: 72px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: -36px;
        padding: 0;
    }

    .btn-r {
        background-color: red;
    }

    // ------------------------------------


    .nav-tabs {
        border-bottom: 0px;
    }

    .nav-tabs .nav-link {
        color: #6C757D;
        border: 0px;
        min-width: 162px;
    }

    .nav-tabs .nav-link.active {
        color: #005CA1;
        border-bottom: 5px solid #005CA1;
    }

    .nav-link {
        max-width: 162px;
        height: 62px;
    }



    .tab-content {
        border-top: 1px solid #D2D2C5;
    }

    .navOuter {
        padding-top: 96px;
        padding-bottom: 48px;

        @include mobile {
            padding-top: 48px;
            padding-bottom: 24px;
        }
    }

    // ------------------------------------
    .tabOut {
        padding-bottom: 96px;

        @include mobile-larger {
            padding-bottom: 24px;
        }
    }

    .order-md-xx {
        padding-top: 120px;

        @include mobile-larger {
            padding-top: 72px;
        }
    }

    .order-md-1 {
        padding-top: 200px;

        @include mobile-larger {
            padding-top: 64px;
        }
    }

    .order-md-2 {
        padding-top: 232px;

        @include mobile-larger {
            padding-top: 64px;
        }
    }

    .con-box {
        max-width: 416px;
        // min-height: 481px;
        width: 100%;

        background-color: #f8f9fa;
        /* 淡灰背景色 */

        border-radius: 32px;
        /* 圓角邊框 */
        border: 3px solid #005CA1;
        /* 框線顏色 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* 陰影效果 */

        position: relative;
        display: flex;
        justify-content: center;
        // align-items: center;
        text-align: center;
    }

    .con-img {
        width: 102px;
        object-fit: cover;
        position: absolute;
        top: -36px;
        padding: 0;
        margin: 0 auto;
    }

    .con-color {
        width: 100%;
        height: 32px;
        border-radius: 32px 32px 0px 0px;
        /* 圓角邊框 */
        background-color: #FFDD28;
    }

    .con-color1st {
        background-color: #FFDD28;
    }

    .con-color2nd {
        background-color: #D2E1E7;
    }

    .con-color3rd {
        background-color: #F7BB82;
    }

    .con-box1st {
        margin: 0;
        padding: 0;
        text-align: center;

        img {
            width: 144px;
            height: 144px;
            border-radius: 50%;
            object-fit: cover;
            margin: 128px 0 0 0;
            padding: 0;

            @include mobile-larger {
                width: 96px;
                height: 96px;
                margin: 72px 0 0 0;
            }
        }

        h4 {
            padding-top: 16px;

            @include mobile-larger {
                padding-top: 12px;
            }
        }

        .time {
            padding-top: 16px;
            padding-bottom: 48px;
            color: #848484;

            @include mobile-larger {
                padding-top: 12px;
                padding-bottom: 32px;
            }
        }
    }

    .con-box2nd {
        justify-content: center;
        // align-items: center;
        text-align: center;

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
            margin: 96px 0 0 0;

            padding: 0;

            @include mobile-larger {
                // width: 96px;
                margin: 72px 0 0 0;
            }
        }

        h4 {
            padding-top: 16px;

            @include mobile-larger {
                padding-top: 12px;
            }
        }

        a {
            text-decoration: underline;
        }

        .time {
            padding-top: 16px;
            padding-bottom: 48px;
            color: #848484;

            @include mobile-larger {
                padding-top: 12px;
                padding-bottom: 32px;
            }
        }
    }

    .con-box3rd {
        justify-content: center;
        // align-items: center;
        text-align: center;

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
            margin: 64px 0 0 0;

            padding: 0;

            @include mobile-larger {
                // width: 96px;
                margin: 72px 0 0 0;
            }
        }

        h4 {
            padding-top: 16px;

            @include mobile-larger {
                padding-top: 12px;
            }
        }

        a {
            text-decoration: underline;
        }

        .time {
            padding-top: 16px;
            padding-bottom: 48px;
            color: #848484;

            @include mobile-larger {
                padding-top: 12px;
                padding-bottom: 32px;
            }
        }
    }

    .con-colorEnd {
        width: 100%;
        border-radius: 0px 0px 32px 32px;
        /* 圓角邊框 */
        background-color: #F7F7F4;
        margin-top: 24px;
        margin-bottom: 32px;

        .box {
            margin: 0px 48px 10px 48px;
            border-bottom: 1px solid #b3b3a9;
            /* 只添加下底線 */
        }
    }

    //***************************

    .horizontal-scroll-list {
        // display: flex;
        // min-width: 765px;
        overflow-x: auto;
        /* 允許水平滾動 */
        white-space: nowrap;
        /* 避免換行 */
        padding: 10px;
        border: 2px solid #005CA1;
        border-radius: 32px;
        /* 圓角邊框 */
        height: 864px;
        padding: 48px;
        // overflow: hidden; /* 隱藏超出部分 */

        @include mobile-larger {}
    }

    .horizontal-scroll-list li {
        list-style-type: none;
        /* 去掉默認的列表符號 */
        // display: inline-block;
        display: block;

        // padding: 10px 20px;
        // margin-right: 10px;
        font-size: 18px;
        //background-color: #f1f1f1;
        // border-radius: 5px;
        width: 100%;
        min-width: 120px;
        /* 每個列表項的最小寬度 */
        // text-align: center;
    }

    .horizontal-scroll-list li:nth-child(odd) {
        border-top: 1px solid #D7D7D7;
        background: #F7F7F4;
        background-color: #F7F7F4;
    }

    .horizontal-scroll-list li:nth-child(odd) .ranking-box {
        background: #F7F7F4;
        background-color: #F7F7F4;
    }

    /* 隱藏水平滾動條（可選） */
    .horizontal-scroll-list::-webkit-scrollbar {
        display: none;
    }

    .ranking-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;
    }

    .c1 {
        width: 100%;
        max-width: 96px;
        // height: 96px;
        text-align: center;

        @include mobile-larger {
            width: 48px;
        }
    }

    .c2 {
        display: flex;
        align-items: center;
        height: 96px;
        width: 100%;
        max-width: 368px;

        @include mobile-larger {
            width: 143px;
        }
    }

    .c3 {
        display: flex;
        align-items: center;
        height: 96px;
        width: 100%;
        max-width: 368px;

        h4 {
            padding: 0px 8px;
        }

        @include mobile-larger {
            width: 143px;
        }
    }

    .c4 {
        color: #848484;
        width: 100%;
        // height: 96px;
        max-width: 368px;
        padding-right: 12px;
        text-align: right;

        @include mobile-larger {
            min-width: 143px;
        }
    }

    .ranking-img {
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        padding-right: 4px;
    }
}