.search-bar__area {
    background: linear-gradient(to bottom, $white 50%, $normal-gray 50%);

    @include media-breakpoint-down(lg) {
        padding-bottom: 10%;
    }
}

.search-bar__content {
    background-color: $primary;
    border-radius: 50rem;
    border: 1px solid $normal-gray;
    box-shadow: 0 0 10px rgba($color: $dark-gray, $alpha: 0.3);
    padding: 36px 48px;

    @include media-breakpoint-up(lg) {
        width: calc(100% - 30px);
    }

    @include media-breakpoint-down(lg) {
        border-radius: 32px 32px 0 0;
        padding: 56px 36px;
        padding-top: 36px;
    }

    .btn-search {
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 0;

        @include media-breakpoint-up(lg) {

            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            width: 80px;
            height: 80px;
            padding: 0;
        }

        @include media-breakpoint-down(lg) {
            width: calc(100% - 24px);
            border-radius: $border-radius-pill;
            top: calc(100% - 25px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.filterOptions_area {
    width: 375px;
}

.filterOptions_footer {
    border-top: 1px solid #eee;
    padding: 12px;
}

.filterOptions_content {
    width: 100%;
    max-height: 336px;
    overflow: hidden;
    display: inline-flex;
    text-align: center;
    

    .cityGroup {
        overflow-x: hidden;
        overflow-y: auto;
        width: 50%;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .districtGroup {
        overflow-x: hidden;
        overflow-y: auto;
        width: 50%;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}